.mod_mod_airquality_widget {
    width: 180px;
}

.city {
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.date {
	text-align:center;
}

.level {
	text-align:center;
}

.aqi {
	width: 100%;
	height: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height:50px;
	text-align:center;
	font-size: 40px;
	color: white;
	text-shadow: 0 0 4px #000;
}

.legend {
	width:100%;
}

.legend p {
 color:#fff;
 font-weight: 10px;
 margin:0px;
 text-align:center;
}

.legend p.moderate {
	color: #000;
}


.none          { background-color: white;	color: black;}
.good          { background-color: green;	color: white;}
.moderate      { background-color: yellow;	color: black;}
.unhealthysg   { background-color: orange;	color: black;}
.unhealthy     { background-color: red;	    color: white;}
.veryunhealthy { background-color: purple;	color: white;}
.hazardous     { background-color: maroon;	color: white;}

